html {
    overflow-y: scroll;
    box-sizing: border-box;
}

/* @font-face {
    font-family: mononoki;
    src: url("./../fonts/mononoki-Regular.ttf")
} */

body {
    background-image: url("image/shishkin3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

div.transbox {
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.80;
    margin-top: 6%;
    margin-bottom: 80px;
    margin-left: 4%;
    margin-right: 4%;
    float: left;
    padding: 3%;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  div.subheader {
    color: black;
    text-align: center;
    font-size: 2vmin;;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 15px;
}

/* @media only screen and (max-width: 600px) {
    div.transbox {
    background-color: #ffffff;
    border: 3px solid black;
    opacity: 0.79;
    margin-top: 6%;
    margin-bottom: 80px;
    margin-left: 4%;
    float: left;
    padding: 3%;
 } */

/*  */
  
div.transbox p {
    margin: 3%;
    color: #000000;
    /* font-size: 2.5vmin; */
  }

/* This is my tabs section*/
section {
    padding: 10px 2px 10px 2px;
}

section .section-title {
    text-align: center;
    /* color: #007b5e; */
    margin-bottom: 29px;
    text-transform: uppercase;
}
#tabs{
	/* background: #007b5e; */
    color: black;
}
#tabs h6.section-title{
    color: black;
    font-size: 5vmin;
}
/* 
#tabs h5.section-title{
    color: black;
    font-size: 2.5vmin;
} */


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent black;
    border-bottom: 4px solid !important;
    font-size: 3vmin;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 3.5vmin;
}
#tabs [role="tabpanel"]{
    font-size: 2.5vmin;
}
